.homePage{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchBox{
    font-size: 25px;
    width: 600px;
    padding: 25px;
    margin: 55px;
    border-radius: 25px;
}
